!!! 5
%html
  %head
    %title My First HAML Page
    %link(rel="stylesheet" href="styles.css")
    %link(rel="stylesheet" href="style.css")
  %body
    %h1 Hello, World!
    %p
      Paragraph Element

    %div
      %p hello paragraph

    %header
      %h1 Hello World

    %section
      %p Lorem ipsum dolor sit amet.
    .container
      %p hello
      %p World
      %p program in sass

    .new 
      This is new(name) container
      %span 
        hello this is span element 
    
    .portfolio 
      %ul 
        %li Balakrishnan
        %li Zoho 
        %li product Trainee

    %img.images( src="book1.jpeg" alt="This image is Zoho Book")
    %br 
    %a(href="https://www.zoho.com/all-products.html") zohoproducts
    %a(href="https://www.zoho.com/in/books/") Zoho Books
    %a(href="https://www.zoho.com/en-in/crm/") zoho Crms

    .btn 
      btn parent division
      .no-cssgradients 
        btn child
        .btn Zoho Books

    .division Variable Interpolation

    .width Width Testing Division

    .alert.alert-error
      Alert Box(Using Extends)  
    .box1 
      Box1 
      %p Box1 paragraph
    .box2

    .div-1 Balakrishan
    .div-2 Balakrishan
    .div-3 Balakrishan
    .div-4 Balakrishan
    .div-5 Balakrishan
    .div-6 Balakrishan
    %br
    %center
    %br
    %center
      .col-1  working 
      .col-2  working 
      .col-3  working 
      .col-4  working 
      .col-5  working 
      
    


    



   

    

    